/** @type {import('tailwindcss').Config} */
module.exports = {
  // Todos los archivos de la app que usen clases Tailwind
  content: [
    './app/**/*.{js,jsx,ts,tsx}',
    './src/**/*.{js,jsx,ts,tsx}',
  ],
  presets: [require('nativewind/preset')],
  theme: {
    extend: {
      colors: {
        // Paleta UGR
        brand: {
          50:  '#e3f0ff',
          100: '#b8d4fc',
          200: '#8ab8f8',
          300: '#5a9cf3',
          400: '#3485ef',
          500: '#1565c0', // primario
          600: '#0e52a8',
          700: '#0a3e8e',
          800: '#062b74',
          900: '#031959',
        },
        ugr: '#1565c0',
      },
      fontFamily: {
        sans: ['System'],
      },
    },
  },
  plugins: [],
};